/* All styles specific to netbooks & tablets */
/* As a rule of thumb, I'd reset all the structural/large pixel widths declared
  in the main stylesheet to percentages. That way, even somebody with as small
  a resolution as 800px wide would get to view your content without the need
  for horizontal scrolling.
*/

#wrap{
    margin: 0 auto;
    position: relative;
    width: 100%; }

.mainNav{
	clear: both;
	float: left;
	background: url(../../images/menu-bg.jpg) left top repeat-x;
	height: 40px;
	width: 100%;
	margin-top: 13px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

#sidebar, #focus, .search-box{
	display: none;
}