@charset "utf-8";

/* CSS Document */



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {

	margin: 0;

	padding: 0;

	border: 0;

	vertical-align: baseline;

	background: transparent;

}

body {

	line-height: 1;

	font:12px/18px Arial, Helvetica, sans-serif;

	color:#333;

}

h1, h2, h3, h4, h5, h6 {

	font-weight: normal;

	clear: both;

}

h2 { 
	text-align:center;
	
	font:26px "MyriadProBoldCondensed", Arial, Helvetica, sans-serif;
}

h3{
	font-weight:bold;
	
	font:18px "MyriadProBoldCondensed", Arial, Helvetica, sans-serif;
}

ol, ul { list-style: none; }

blockquote { quotes: none; }

blockquote:before, blockquote:after {

	content: '';

	content: none;

}

del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */

table {

	border-collapse: collapse;

	border-spacing: 0;

}

a img {

	border: none;

	vertical-align:middle;

}

h1 {

	float:left;

	padding:6px 0 0 0;

}

h1 a {

	text-indent: -9999px;

	float: left;

	overflow:hidden;

	background-image: url(images/solutions-online-logo.jpg);

	height: 34px;

	width: 251px;

	margin:0px;

	padding:0px;

}

p { }

a {

	text-decoration:none;

	color:#3199B8;

	outline:none;

}

input, select { float:left; }

a:hover { text-decoration:underline; }

.right-none { margin-right:0 !important; }

.bottom-none { margin-bottom:0 !important; }

/* Font embeding */

@font-face {

	font-family: 'CherylHand';

	src: url('css/cheryl_hand-webfont.eot');

	src: local('☺'), url('css/cheryl_hand-webfont.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;

}

@font-face {

	font-family: 'MyriadProBoldCondensed';

	src: url('css/myriadpro-boldcond-webfont.eot');

	src: local('☺'), url('css/myriadpro-boldcond-webfont.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;

}

@font-face {

	font-family: 'MyriadProLight';

	src: url('css/myriadpro-light-webfont.eot');

	src: local('☺'), url('css/myriadpro-light-webfont.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;

}

@font-face {

	font-family: 'MyriadProRegular';

	src: url('css/myriadpro-regular-webfont.eot');

	src: local('☺'), url('css/myriadpro-regular-webfont.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;

}

/*layout*/

.wrap {

	margin:0 auto;

	width:960px;

}

#header {

	background:url(images/gray-bg.jpg) repeat-x left top;

	margin:0 auto;

	overflow:hidden;

	position:relative;

	padding:45px 0 60px;

}

#our-work, #our-work-2{

	background:url(images/blue-gradient.jpg) repeat-x left top;

	margin:0 auto;

	min-height:250px;

	position:relative;

	padding:10px 0;

}

#team {

	background:url(images/blue-gradient.jpg) repeat-x left top;

	margin:0 auto;

	min-height:450px;

	position:relative;

	padding:10px 0;

}

#about {

	background:url(images/blue-gradient.jpg) repeat-x left top;

	margin:0 auto;

	min-height:450px;

	position:relative;

	padding:10px 0;

}

#services {

	background:url("images/gray-bg.jpg") repeat-x scroll left top transparent;

	margin:0 auto;

	min-height:200px;

	padding:40px 0;

	position:relative;

	overflow:hidden;

}

#blog {

	background:#f2f2f2 url(images/gray-bg.jpg) repeat-x scroll left top;

	margin:0 auto;

	min-height:200px;

	padding:40px 0;

	position:relative;

	overflow:hidden;

}

#blog-header {

	background:url(images/blue-gradient.jpg) repeat-x left top;

	margin:0 auto;

	min-height:50px;

	position:relative;

	padding:10px 0;

}

#meet-our-team {

	background:url(images/blue-gradient.jpg) repeat-x left top;

	margin:0 auto;

	min-height:200px;

	position:relative;

	padding:50px 0 10px;

}

#footer {

	background:url(images/footer.jpg) repeat-x left top;

	margin:0 auto;

	overflow:hidden;

	position:relative;

	padding:25px 0;

}

.gradient{
	position:relative;
}

.coll-375 {

	width:377px;

	margin-right:15px;

	float:left;

}

.coll-375-last { margin-right:0px; }

.coll-375.shadow-position.m .gradient {

	background:#fff url(images/team-bg.jpg) no-repeat left top;

	border:1px solid #d1e5e8;

	margin-bottom:1px;

	padding:25px;

	overflow:hidden;

}

.coll-357.shadow-position.m .gradient {

	background:#fff url(images/team-bg.jpg) no-repeat left top;

	border:1px solid #d1e5e8;

	margin-bottom:1px;

	padding:9px;

	overflow:hidden;

}

.coll-375.shadow-position.m { background-image: url(images/shadow-m.jpg); }

.team.coll-375.shadow-position.m, .coll-357.shadow-position.m { margin-top:40px; }

.about.coll-375.shadow-position.m { margin-top:40px; }

.about.coll-375.shadow-position.m .gradient { padding:8px; }



.coll-507 {

	width:509px;

	float:left;

	position:relative;

	margin-left:177px;

}

.coll-507.shadow-position.m .gradient {

	background:#fff url(images/gradient-replay.jpg) no-repeat left top;

	border:1px solid #E0E0E0;

	margin-bottom:1px;

	padding:15px 25px;

	overflow:hidden;

}

.coll-507.shadow-position.m { background-image: url(images/shadow-comment-replay.jpg); }





.coll-545 {

	width:547px;

	float:left;

	position:relative;

}

.coll-545.shadow-position.m .gradient {

	background:#fff url(images/gradient-comments.jpg) no-repeat left top;

	border:1px solid #E0E0E0;

	margin-bottom:1px;

	padding:15px 25px;

	overflow:hidden;

}

.coll-545.shadow-position.m { background-image: url(images/shadow-comment.jpg); }



.coll-640 {

	float:left;

	margin-left:43px;

	margin-top:15px;

	position:relative;

	width:642px;

}

.coll-640.shadow-position.m .gradient {

	background:#fff url(images/gradient-add-comment.jpg) no-repeat left top;

	border:1px solid #E0E0E0;

	margin-bottom:1px;

	padding:23px 25px 15px;

	overflow:hidden;

}

.coll-640.shadow-position.m { background-image: url(images/shadow-add-comment.jpg); }





.coll-720 {

	width:720px;

	float:left;

}

.coll-960 {

	width:960px;

	float:left;

}

.coll-960.shadow-position.l .gradient {

	background:#fff url(images/services-bg.jpg) no-repeat left top;

	border:1px solid #e0e0e0;

	margin-bottom:1px;

	padding:20px 35px;

	overflow:hidden;

}

.coll-960.shadow-position.l { background-image: url(images/shadow-services.jpg); }

.blue.coll-960.shadow-position.l .gradient {

	background:#fff url(images/our-team-blue.jpg) no-repeat left top;

	border:1px solid #d1e5e8;

	margin-bottom:1px;

	padding:0;

	min-height:160px;

	overflow:visible;
	
	position:relative;
	
	*height:160px;

}

.blue.coll-960.shadow-position.l { 
	background-image: url(images/shadow-team.jpg); 
	
	height:162px;
}

.shadow-position {

	background-position:center bottom;

	background-repeat:no-repeat;

	display:inline-block;

	float:left;

	padding:0 0 15px;

}

.sidebar {

	width:240px;

	float:left;

}


/* menu */



.menu {

	position:relative;

	float:right;

	margin-top:30px;
	
	*margin-top:0px;	

}

.menu li {

	float:left;

	text-transform:uppercase;
	
	*padding:20px 0 6px;

}

.menu a {

	color:#333;

	font:18px "MyriadProRegular", Arial, Helvetica, sans-serif;

	padding:5px 19px 20px;	

}

.menu a:hover, .current, .current-menu-item a {

	background-image:url(images/menu-hover.png);

	padding:5px 19px 20px;
	
	*padding:7px 19px 17px;
	
	*position:relative;

	text-decoration:none;

	color:#fff;

}

.current { color:#fff !important; }

a.contact-button, .menu-item-64 a {

	color:#497d97;

	font:24px "CherylHand", Arial, Helvetica, sans-serif;

	background:url(images/contact-arrow.jpg) no-repeat center top;

	padding:20px 19px 5px;

}

a.contact-button:hover, .menu-item-64 a:hover, #menu-item-64 a:active{

	background:url(images/contact-arrow.jpg) no-repeat center top;

	color:#333;

	padding:15px 19px 5px;

}


/* slider */



.slider {

	float:left;

	margin-top:30px;
	
	width:960px;

}


.slider-caption {

	position:relative;

	left:0px;

	bottom:0px;

	background:none;

	color:#fff;

	opacity:1; /* Overridden by captionOpacity setting */

	width:500px;

	z-index:89;

}


.slider-caption p {

	color:#777;

	display:inline-block;

	font:20px/30px "MyriadProRegular", Arial, Helvetica, sans-serif;

	padding:15px 0 0;

	width:350px;

}

.slider-caption h3 {

	color:#1C7484;

	font:47px/47px "MyriadProBoldCondensed", Arial, Helvetica, sans-serif;

	padding:0 0 0px;

	width:400px;

}

.slider-caption h3 span{
	
	color:#333333;
	
}

.slider-caption a {

	background:url("images/arow-details.jpg") no-repeat scroll left bottom transparent;

	color:#497D97;

	font:34px "CherylHand", Arial, Helvetica, sans-serif;

	padding:0 10px 20px;

	width:240px;

	display:inline-block !important;

}

.slider-caption a:hover {

	text-decoration:none;

	color:#000;

}


.slider-caption-page{
	
	position:relative;

	left:0px;

	bottom:0px;

	background:none;

	color:#fff;

	opacity:1; /* Overridden by captionOpacity setting */

	width:100%;

	z-index:89;	
	
}


.slider-caption-page p {

	color:#777;

	display:inline-block;

	font:20px/24px "MyriadProRegular", Arial, Helvetica, sans-serif;

	padding:15px 10px 0 0;

	width:430px;
	
	position:relative;
	
	float:left;

}

.slider-caption-page h3 {

	color:#1C7484;

	font:30px/30px "MyriadProBoldCondensed", Arial, Helvetica, sans-serif;

	padding:0 0 0px;

	width:500px;

}

.slider-caption-page a {

	background:url("images/arow-details-page.jpg") no-repeat scroll left bottom transparent;

	color:#497D97;

	font:24px/2px "CherylHand", Arial, Helvetica, sans-serif;

	padding:30px 10px 20px;

	width:160px;

	display:inline-block !important;

}

.slider-caption-page a:hover {

	text-decoration:none;

	color:#000;

}

.slider-caption-page h3 span{
	
	color:#171717;
	
}

.slider-caption-page .slider-page-text{
	
	color:#717171;

	display:inline-block;

	font:19px/24px "MyriadProRegular", Arial, Helvetica, sans-serif;

	padding:15px 0 0;

	width:430px;
	
	position:relative;
	
	float:left;
}

.vertical_slider{
	
	float:left;

	margin:-330px 0 0 25px;
	
	position:relative;
}

.vertical_slider_page{
	
	float:left;

	margin:-140px 0 0 25px;
	
	position:relative;
}

/* our work */



.stay-with-us {

	background:url(images/stay-with-us.png) no-repeat center top;

	color:#fff;

	padding:8px 19px 20px;

	font:16px "MyriadProRegular", Arial, Helvetica, sans-serif;

	text-transform:uppercase;

	position:absolute;

	z-index:1;

	top:-14px;

	margin-left:720px;

}

.our-work {

	background:url(images/our-work.png) no-repeat center top;

	color:#fff;

	padding:20px 45px 20px 20px;

	font:16px "MyriadProRegular", Arial, Helvetica, sans-serif;

	text-transform:uppercase;

	position:absolute;

	z-index:1;

	top:-24px;

}

.meet-team {

	background:url(images/meet-team.png) no-repeat center top;

	color:#fff;

	padding:8px 0 20px 20px;

	font:16px "MyriadProRegular", Arial, Helvetica, sans-serif;

	text-transform:uppercase;

	position:absolute;

	z-index:1;

	top:-14px;

	width:160px;

}

.blog-head {

	background:url(images/heading-blog-bg.png) no-repeat center top;

	color:#fff;

	padding:8px 52px 20px 19px;

	font:16px "MyriadProRegular", Arial, Helvetica, sans-serif;

	text-transform:uppercase;

	position:absolute;

	z-index:1;

	top:-14px;

}

a.twitter {

	background:url(images/twitter.png) no-repeat center top;

	padding:20px;

	text-transform:uppercase;

	position:absolute;

	z-index:1;

	top:-14px;

	margin-left:900px;

}

a.facebook {

	background:url(images/facebook.png) no-repeat center top;

	text-transform:uppercase;

	position:absolute;

	z-index:1;

	top:-14px;

	margin-left:860px;

	padding:20px;

}

/* services */

.service-box {

	width:205px;

	float:left;

	margin-right:22px;
	
	position:relative;
	
	min-height:280px;
	
	*height:280px;

}

.service-box h3 a {

	color:#1c7484;

	padding-bottom:20px;

	display:inline-block;

	font:25px/30px "MyriadProBoldCondensed", Arial, Helvetica, sans-serif;

	text-transform:uppercase;

}

.service-box h3 a:hover {

	text-decoration:none;

	color:#333;

}

.service-box h3 a span { color:#333; }

.service-box p { 

	padding-bottom:20px; 
	
	*height:155px;

}

a.gray-button {

	background:url(images/gray-button-right.png) no-repeat right top;

	padding:6px 13px 7px 0;

	font:13px "MyriadProRegular", Arial, Helvetica, sans-serif;

	color:#333;

	text-transform:uppercase;

	text-shadow:0px 1px 0 #fff;

	margin-left:10px;

	display:inline;
	
	*float:left;
	
	*position:relative;
	
	/**right:640px;*/
}

.gray-button-services{
	
	position:absolute;
	
	bottom:0;	
}

a.gray-button span {

	background:url(images/gray-button-left.png) no-repeat left top;

	padding:7px 0 7px 13px;

	color:#333;

	text-transform:uppercase;

	text-shadow:0px 1px 0 #fff;

	display:inline;

	font:13px "MyriadProRegular", Arial, Helvetica, sans-serif;

}

a.gray-button:hover {

	background:url(images/darkGray-button-right.png) no-repeat right top;

	text-shadow:0px 1px 0 #ddd;

	color:#000;

	text-decoration:none;
	
	*float:left;
	
	*position:relative;	
	
/*	*padding:7px 13px 7px 0;
	
	*position:relative;	*/

}

a.gray-button span:hover {

	background:url(images/darkGray-button-left.png) no-repeat left top;

	padding:7px 0 7px 13px;

	text-shadow:0px 1px 0 #ddd;

	color:#000;

	text-decoration:none;

	display:inline;
	
/*	*padding:7px 0 7px 13px;
	
	*position:relative;	*/

}

#footer p {

	text-align:center;

	color:#1d5971;

}

/* meet our team */



.portfolio {

	min-height:200px;

	position:relative;

	width:960px;

	margin-top:40px;

}

.portfolio-single{

	min-height:200px;

	position:relative;

	width:960px;

	margin-top:10px;
	
}

.portfolio .lightbox, .portfolio-single .lightbox{

	background:url("images/portfolio-image-bg.jpg") no-repeat scroll left top transparent;

	display:inline-block;

	height:196px;

	margin-right:27px;

	padding:8px 9px;

	width:282px;

}


.portfolio a, .portfolio-single a{
	
	display:inline-block;

	margin-right:27px;

	padding:8px 9px;

	width:282px;

}

.portfolio .items{
	height:auto;
	
	position:relative;
}

.portfolio-single ul{
	padding:10px 0 20px 30px;
}

.portfolio-single ul li{

	background:url("images/bullet.png") no-repeat scroll left center transparent;

	color:#333;

	font:12px/20px Arial, Helvetica, sans-serif;

	padding-left:20px;
}



ul.pagination {

	margin-left:350px;

	overflow:hidden;

}

.pagination li { float:left; }

.pagination a, .pagination a.left, .pagination a.right, .pagination a.first, .pagination a.end {

	background:url("images/scroll-button.png") no-repeat scroll -151px center transparent;

	display:block;

	margin-right:3px;

	padding:19px;

	color:#82abb0;

	font:15px "MyriadProBoldCondensed", Arial, Helvetica, sans-serif;

	text-shadow:1px 1px 0 #fff;

}

.pagination a:hover, .current-pagination {

	background-position:-106px center !important;

	color:#fff !important;

	text-decoration:none!important;

	text-shadow:-1px -1px 0 #999!important;

}

.pagination a.first {

	background-position:-25px center !important;

	text-indent:-9999px;

}

.pagination a.first:hover { background-position:3px center !important; }

.pagination a.left {

	background-position:-84px center !important;

	padding:19px 11px;

	text-indent:-9999px;

}

.pagination a.left:hover { background-position:-62px center !important; }

.pagination a.right {

	background-position:-193px center !important;

	text-indent:-9999px;

	padding:19px 11px;

}

.pagination a.right:hover { background-position:-216px center !important; }

.pagination a.end {

	background-position:-237px center !important;

	text-indent:-9999px;

}

.pagination a.end:hover { background-position:-264px center !important; }

ul .btn-portfolio-prev{
	background:url("images/pagination-prev-page.jpg") no-repeat scroll left center transparent;
}

ul .btn-portfolio-prev:hover{
	background:url("images/pagination-prev-page.jpg") no-repeat scroll left center transparent;
}

.navigation, .wp-pagenavi{
	position:relative;
	margin-left:390px;
	overflow:hidden;
	padding:10px 0 0;
}
.navigation ol{
	position:relative;
	float:left;	
}
.navigation ol li{
	position:relative;
	float:left;	
}
.navigation ol li .prev, .wp-pagenavi .previouspostslink{
	position:relative;
	float:left;		
	background:url("images/pagination-prev-page.png") no-repeat scroll left center transparent;
	width:21px;
	height:41px;
}
.navigation ol li .prev:hover, .wp-pagenavi .previouspostslink:hover{
	position:relative;
	float:left;		
	background:url("images/pagination-prev-page-hover.png") no-repeat scroll left center transparent;
	width:21px;
	height:41px;
	text-decoration:none;	
}

.navigation ol li .page, .wp-pagenavi .page{
	position:relative;
	float:left;		
	background:url("images/pagination-other-page.png") no-repeat scroll left center transparent;
	width:42px;
	height:41px;	
	padding:0;
	padding:20px 0 0 18px;
	margin:-12px -15px 0 0;
}
.navigation ol li .page:hover, .wp-pagenavi .page:hover{
	position:relative;
	float:left;		
	background:url("images/pagination-current-page.png") no-repeat scroll left center transparent;
	width:42px;
	height:41px;	
	padding:20px 0 0 18px;	
	color:#ffffff;
	text-decoration:none;	
}
.navigation ol li .current, .wp-pagenavi .current{
	position:relative;
	float:left;		
	background:url("images/pagination-current-page.png") no-repeat scroll left center transparent;
	width:42px;
	height:41px;	
	padding:20px 0 0 18px;	
	margin:-12px -15px 0 0;	
	color:#ffffff;
	text-decoration:none;
}
.navigation ol li .next, .wp-pagenavi .nextpostslink{
	position:relative;
	float:left;		
	background:url("images/pagination-next-page.png") no-repeat scroll left center transparent;
	width:42px;
	height:41px;	
}
.navigation ol li .next:hover, .wp-pagenavi .nextpostslink:hover{
	position:relative;
	float:left;		
	background:url("images/pagination-next-page-hover.png") no-repeat scroll left center transparent;
	width:42px;
	height:41px;	
	text-decoration:none;
}

/* meet team */

.meetteam-box {

	float:left;

	margin-right:13px;

	margin-bottom:13px;

}

.meetteam-box a { }

.meetteam-content {

	float:right;

	margin-right:78px;

	margin-top:60px;

	width:450px;

}

.meetteam-content h3 {

	color:#1C7484;

	display:inline-block;

	font:25px/30px "MyriadProBoldCondensed", Arial, Helvetica, sans-serif;

	padding-bottom:40px;

	text-transform:uppercase;

}

.meetteam-content h3 span { color:#333333; }

.meetteam-content p { padding-bottom:20px; }



/* blog */

#blog-header h3 {

	color:#497D97;

	font:24px "CherylHand", Arial, Helvetica, sans-serif;

	margin:12px 0 0 100px;

}

.post{position:relative;}

.post h3 a{

	color:#333333;

	display:inline-block;

	font:25px/30px "MyriadProBoldCondensed",Arial,Helvetica,sans-serif;

	margin-left:54px;

	padding-bottom:20px;

	padding-top:8px;
	
	position:relative;

}

.post a {

	color:#1c7484;

	font:12px/18px Arial, Helvetica, sans-serif;

}

.post-calendar {

	background:url("images/callendar.png") no-repeat scroll left top transparent;

	height:48px;

	left:0;

	position:absolute;

	top:0;

	width:48px;

}

.post-calendar li {

	color:#777777;

	font:12px Arial,Helvetica,sans-serif;

	padding:7px 10px 0;

	text-transform:uppercase;

}

.post-calendar li.day {

	color:#1C7484;

	font:25px/22px "MyriadProBoldCondensed",Arial,Helvetica,sans-serif;

	padding-top:0;

}

.cloud {

	background:url("images/cloud.png") no-repeat scroll left top transparent;

	color:#777777;

	font:10px Arial,Helvetica,sans-serif;

	height:57px;

	padding-top:9px;

	position:absolute;

	right:30px;

	text-align:center;

	top:-5px;

	width:77px;

}

.cloud a {

	color:#1c7484;

	font:25px/20px "MyriadProBoldCondensed",Arial,Helvetica,sans-serif;

}

.author {

	color:#888888;

	font:12px/18px Arial,Helvetica,sans-serif;

	margin-bottom:10px;

	padding-left:55px;

}

.entry {

	padding-bottom:15px;

	padding-left:50px;

	width:610px;
	
	position:relative;
}

.entry p {

	padding-bottom:12px;

}

.entry strong{

	padding-bottom:15px;

	width:610px;

	font-size:14px;

	line-height:22px;

}

.entry img {

	background:url("images/blog-image-bg.jpg") no-repeat scroll left top transparent;

	margin-bottom:15px;

	padding:10px 10px 28px;

}

.entry h4 {

	color:#1c7484;

	font:18px/30px "MyriadProBoldCondensed",Arial,Helvetica,sans-serif;

}

.entry h5 {

	color:#1c7484;

	font:bold 12px/18px Arial, Helvetica, sans-serif;

	padding-left:30px;

	padding-top:20px;

}

.entry ul { padding:10px 0 20px 30px; }

.entry ul li {

	background:url("images/bullet.png") no-repeat scroll left center transparent;

	color:#333;

	font:12px/20px Arial, Helvetica, sans-serif;

	padding-left:20px;

}

.post-bottom {

	background:url(images/separator.png) no-repeat 35px -5px;

	color:#333;

	font:12px/18px Arial, Helvetica, sans-serif;

	padding-left:35px;

	padding-bottom:40px;
	
	*padding-left:45px;	
	
	position:relative;
	
	*margin:-20px 0 0;
}

.post-bottom-categories {

	display:inline;

	float:left;

	margin-right:20px;

	width:50px;
	
/*	*margin-top:0px;*/

}


.post-bottom-categories li { 
	
	display:inline; 
	
	float:left; 
	
	*padding:4px 0 6px;
	
	position:relative;

}

.post-bottom-categories a {

	font:13px "MyriadProRegular",Arial,Helvetica,sans-serif;

}

.post-bottom-categories a span {

	color:#1c7484;

}

.post-bottom-tags {

	display:inline;

	float:left;
	
	width:520px;

}

.post-bottom-tags li { 
	
	display:inline; 
	
	float:left; 
	
	*padding:4px 0 6px;
	
	position:relative;
}

.post-bottom-tags a {

	font:13px "MyriadProRegular",Arial,Helvetica,sans-serif;

	/*margin-left:5px;*/

}

.post-bottom-tags a span {

	color:#1c7484;

}

.top-30px{margin-top:30px;}



/* sidebar */



.sidebar-item {

	margin-bottom:40px;

	position:relative;

	width:100%;

}

.sidebar-item h3 {

	background:url(images/recent-posts.png) no-repeat left top;

	color:#fff;

	font:16px "MyriadProRegular",Arial,Helvetica,sans-serif;

	margin-bottom:8px;

	padding:6px 0 25px 20px;

	text-transform:uppercase;

}

.recent-posts li {

	background:url("images/bullet.png") no-repeat scroll left center transparent;

	margin-bottom:10px;

	padding-left:20px;

	margin-left:10px;

}

.recent-posts a {

	color:#777;

	font:13px Arial, Helvetica, sans-serif;

}



/* author-bio */



.author-bio{

	background:url("images/autor-bg.jpg") no-repeat scroll left top transparent;

	margin-left:35px;

	margin-top:20px;

	overflow:hidden;

	padding:30px;

	width:572px;

}

.author-bio img{

	float:left;

	display:inline;

	width:120px;

	margin-right:20px;

}

.author-bio-content {

	display:inline;

	float:right;

	width:430px;

}

.author-bio-content h3 {

	color:#333333;

	font:22px "MyriadProRegular",Arial,Helvetica,sans-serif;

	margin-bottom:20px;

}

.author-bio-content h3 span {

	color:#1C7484;

	font:12px/18px Arial,Helvetica,sans-serif;

	margin-right:5px;

}

.author-bio-content a {

	background:url("images/twitter-autor.png") no-repeat scroll right center transparent;

	color:#497D97;

	display:block;

	font:24px "CherylHand",Arial,Helvetica,sans-serif;

	margin-top:10px;

	width:167px;

	padding:3px 0;

}



/* Comments */



#comments h3 {

	background:url(images/bar-bg.png) no-repeat left top;

	color:#fff;

	font:18px "MyriadProRegular",Arial,Helvetica,sans-serif;

	text-shadow:-1px -1px 0 #333;

	padding: 4px 20px 20px;

}

#comments ol {

}

#comments li {

	display:block;

	margin:20px 0;

	overflow:hidden;

}

#comments li.gradient{margin-bottom:2px; margin-top:0;}

#comments ul.comment-avatar {

	display:inline;

	float:left;

	margin-left:35px;

	margin-right:25px;

	position:relative;

}

#comments ul.comment-avatar li {

	border:medium none;

	margin:0;

	padding:0;

}

#comments .gradient h3{

	background:none;

	color:#1C7484;

	font:22px "MyriadProRegular",Arial,Helvetica,sans-serif;

	text-shadow:none;

	padding:0 0 20px;

}

#comments .gradient h3 span{

	color:#999;

	font:12px/18px Arial,Helvetica,sans-serif;

	margin-right:5px;

	display:inline;

	text-transform:none;

}

#comments .gradient h4{

	background:none;

	color:#333;

	font:18px "MyriadProRegular",Arial,Helvetica,sans-serif;

	padding:0 0 20px;

	float:left;

	display:inline;

	clear:none;

	margin-top:6px;

	margin-left:25px;

}

#comments .gradient h4 span{

	color:#999;

	font:12px/18px Arial,Helvetica,sans-serif;

	margin-left:5px;

	display:inline;

	text-transform:none;

}

#comments .gradient p{clear:left;}

#comments a.replay, #comments ol li ul li a, #comments a.comment-reply-link{

	background:url("images/cloud-replay.png") no-repeat scroll left top transparent;

	border:medium none;

	margin:0;

	padding:5px 16px 20px;

	position:absolute;

	right:15px;

	top:9px;

}


.coll-545 span, .coll-507 span {

	color:#999;

	margin-top:20px;

	display:block;

	font:11px "MyriadProRegular",Arial,Helvetica,sans-serif;

	text-transform:uppercase;

}

.coll-507 img{

	float:left;

	display:inline;

}

#comments li.arrow {

	background:url("images/arrow-replay.png") no-repeat scroll left bottom transparent;

	border:medium none;

	height:22px;

	left:-36px;

	position:absolute;

	top:-26px;

	width:30px;

}



/* add comment */



.add-comment h3 {

	background:url("images/bar-bg.png") no-repeat scroll left top transparent;

	color:#FFFFFF;

	font:18px "MyriadProRegular",Arial,Helvetica,sans-serif;

	padding:4px 20px 20px;

	text-shadow:-1px -1px 0 #333333;

}

.add-comment p {

	display:inline;

	float:left;

	padding-bottom:12px;

}

.add-comment label {

	color:#555;

	font:11px Arial,Helvetica,sans-serif;

	float:left;

	display:inline;

	margin-left:5px;

}

/*for IE8 */

input[type="submit"]:focus, input[type="reset"]:focus {     

	outline : none; 

}

/*for FireFox*/

input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {   

	border : 0px;

} 



.add-comment input {

	background:url("images/input-field.jpg") no-repeat scroll left top transparent;

	border:medium none;

	clear:left;

	float:left;

	padding:18px 15px;

	width:320px;

	color:#1C7484;

	font:12px Arial,Helvetica,sans-serif;

}

.add-comment textarea {

	background:url("images/textarea.jpg") no-repeat scroll left top transparent;

	border:medium none;

	height:235px;

	padding:20px;

	width:545px;

	color:#1C7484;

	font:12px Arial,Helvetica,sans-serif;

}

.add-comment input.submit {

	background:url("images/add-comment.jpg") no-repeat scroll left top transparent;

	color:#FFFFFF;

	cursor:pointer;

	font:16px "MyriadProRegular",Arial,Helvetica,sans-serif;

	padding:6px 10px 11px;

	text-shadow:-1px -1px 0 #333333;

	width:146px;

	outline:none;

}

.add-comment input.submit:hover {

	background:url("images/add-comment-hover.jpg") no-repeat scroll left top transparent;

}

.add-comment input.reset {

	background:url("images/reset.jpg") no-repeat scroll left top transparent;

	color:#FFFFFF;

	cursor:pointer;

	font:16px "MyriadProRegular",Arial,Helvetica,sans-serif;

	padding:6px 10px 11px;

	text-shadow:-1px -1px 0 #333333;

	width:146px;

	clear:none;

	float:left;

}

.add-comment input.reset:hover {

	background:url("images/add-comment-hover.jpg") no-repeat scroll left top transparent;

}



/* googlemap */

.google-map {

	clear:both;

	margin-bottom:50px;

	margin-left:10px;

	overflow:hidden;

}

.google-map .google-map-background {

	background:url("images/blog-image-bg.jpg") no-repeat scroll left top transparent;

	padding:9px 10px 26px;

}

.google-map #google-map-location {

	height:239px;

	width:588px;

}


#emailresult{
	width:180px;
	position:relative;
	float:left;
	margin:0 0 0 45px;
}
#emailresult h3{
	
}

#emailresult p{
	
}

